<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.modestnerd.wa_me">

    <queries>
        <!-- WhatsApp -->
        <package android:name="com.whatsapp" />

        <!-- WhatsApp Business -->
        <package android:name="com.whatsapp.w4b" />
    </queries>

</manifest>
